{% extends "layout.html" %}{% block content %}
<div class="media content-section">
  <div class="media-body">
  <legend class="border-bottom mb-4">¿Quiénes somos?</legend>
  <p class="text-dark">"BUSCADOR COVID" surge fundamentalmente, a partir del reto propuesto en la asignatura de Laboratorio de Telemática del Grado de Ingeniería en Tecnologías de Telecomunicación de la Universidad de Granada. Somos un grupo compuesto por cuatro estudiantes de 4º curso de Teleco, apasionados por la tecnología y las nuevas formas de comunicación de la vida actual, que creían conveniente aportar su granito de arena en la situación de pandemia provocada por la COVID-19.</p>
  <br>
  <p class="text-dark">"BUSCADOR COVID" pretende dar respuesta de una forma sencilla e intuitiva a toda pregunta que actualmente cualquier persona puede hacerse: ¿cuántos casos hay actualmente de COVID-19 en mi comunidad autónoma? Y sí, existen Google Search y los medios de comunicación, pero muchas veces hay que filtrar la información y además, en la mayoría de veces, las noticias están aún sin actualizar porque algún redactor o periodista debe hacerlo.</p>
  <br>
  <p class="text-dark">Nuestro proyecto pretende, introduciendo el nombre de la comunidad autónoma y con un sólo botón ("click"), mostrar las cifras de mayor relevancia de la propagación de la enfermedad en cuestión.</p>
  <br>
  <h4 align="center">MIEMBROS DEL EQUIPO</h4>
  <br>

  <div class="container">
    <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <div class="card-body text-center">
            <h6 class="card-title mb-0 text-success">José Carlos Sánchez</h6>
            <div class="card-text text-black-50">Desarrollador</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <div class="card-body text-center">
            <h6 class="card-title mb-0 text-success">Alejandro García</h6>
            <div class="card-text text-black-50">Desarrollador</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <div class="card-body text-center">
            <h6 class="card-title mb-0 text-success">Sergio<br>López</h6>
            <div class="card-text text-black-50">Desarrollador</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <div class="card-body text-center">
            <h6 class="card-title mb-0 text-success">Manuel<br>Chica</h6>
            <div class="card-text text-black-50">Desarrollador</div>
          </div>
        </div>
      </div>
    </div>


  </div>

 </div>
</div>{% endblock content %}
