{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Buscar número de casos</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      
      <p class="text-secondary">Tenga en cuenta las siguientes consideraciones:</p>
      <ul>
          <li><p class="text-secondary">Debe introducir el nombre respetando mayúsculas y tildes. P. ej: Castilla-La Mancha, Andalucía.</p></li>
          <li><p class="text-secondary">Es posible que se produzca algún error en la muestra de los datos si aún no se ha registrado el número de casos en la comunidad autónoma en cuestión.</p></li>
      </ul>
      
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% endblock content %}
