{% extends "layout.html" %}
{% block content %}
  <div class="media content-section">
    <div class="media-body">
      <legend class="border-bottom mb-4"><h2 class="account-heading" align="center">{{ info['name_es'] }}</h2></legend>
      <h5 align="center">CASOS TOTALES</h5>
      <h6 align="center">{{ info['today_confirmed'] }}</h6>
      <h5 align="center">DECESOS TOTALES</h5>
      <h6 align="center">{{ info['today_deaths'] }}</h6>
      <h5 align="center">NUEVOS CASOS (ÚLT. 24H)</h5>
      <h6 align="center">{{ info['today_new_confirmed'] }}</h6>
      <h5 align="center">NUEVOS DECESOS (ÚLT. 24H)</h5>
      <h6 align="center">{{ info['today_new_deaths'] }}</h6>
      <br> <br>
      <div class="row justify-content-center">
      <a href="/" class="btn btn-outline-success" align="center">Regresar</a>
      </div>
    </div>
  </div>

{% endblock content %}
